SECRET_KEY=
DEBUG=False
ALLOWED_HOSTS=hazumake.store,139.59.6.52
RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=
SMILE_UID=
SMILE_EMAIL=
SMILE_KEY=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
