SECRET_KEY=
DEBUG=  
DATABASE_URL=
RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=
SMILE_UID=
SMILE_EMAIL=
SMILE_KEY=
SMILE_BASE_URL=
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
EXPAY_USER_TOKEN=
EXPAY_WEBHOOK_SECRET=
EXPAY_REDIRECT_URL=